@import "./reset.css";
@import "./fonts.css";
@import "./tokens.css";

body {
  background-color: var(--gpui-color-surface-page);
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
